<template>
  <article-detail :is-edit="true" />
</template>

<script>
import detalleMensaje from './components/detalleMensaje'

export default {
  name: 'EditForm',
  components: { detalleMensaje }
}
</script>