<template>
  <div class="app-container">
    <el-card>
      <div slot="header" class="clearfix">
        <div class style="display: flex; justify-content: space-between;align-items: center;">
          <span>Integrantes</span>
          <el-button type="primary" icon="el-icon-search" @click="onClickAgregarIntegrante">Agregar</el-button>
        </div>
      </div>
      <div
        class="row-bg menu-filter-container"
        style="display: flex; justify-content: space-between"
      >
        <el-input v-model="input2" style="width: 300px;">
          <el-button slot="append" type="primary" icon="el-icon-search" @click="search()"/>
        </el-input>
        <el-checkbox-group>
          <el-checkbox-button>
            Propietarios
          </el-checkbox-button>
          <el-checkbox-button>
            Residentes
          </el-checkbox-button>
        </el-checkbox-group>
      </div>
      <div class="listado">
        <el-table
          :data="vinculosUsuarios"
          style="width: 100%"
        >
          <el-table-column
            label="Vinculo"
            width="200px"
          >
            <template slot-scope="scope">
              <div class style="display: flex; align-items: center;">
                <div class="tag-propietario">
                  <el-tag v-if="scope.row.vinculo_usuario.tipo & 1" effect="dark">
                    Propietario
                  </el-tag>
                </div>
                <div class="tag-residente">
                  <el-tag v-if="scope.row.vinculo_usuario.tipo & 2" effect="dark" type="success">
                    Residente
                  </el-tag>
                </div>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            prop="usuario.nombre"
            label="Nombre"
            width=""
            show-overflow-tooltip
          />
          <el-table-column
            prop="usuario.telefono"
            label="Telefono"
            width="100"
          />
          <el-table-column
            prop="usuario.direccion"
            label="Direccion"
            width=""
          />
          <el-table-column
            prop="usuario.correo"
            label="Email"
            width=""
          />
          <el-table-column
            width="100"
          >
            <template slot-scope="scope">
              <el-button type="primary" size="small">
                Detalles
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-card>
    <router-view/>

    <el-dialog :visible.sync="nIntegranteDialog.visible" title="Invitar a nuevo integrante">
      <div v-if="nIntegranteDialog.step === 1">
        <div class="dialog-info">
          Ingresa el correo electronico de la persona a la que deseas incluir a este departamento.
        </div>
        <el-form :model="nIntegranteDialog.form" label-width="150px" label-position="left">
          <el-form-item label="Correo electronico">
            <el-input v-model="nIntegranteDialog.form.email" autocomplete="off"/>
          </el-form-item>
        </el-form>
        <div v-if="nIntegranteDialog.form.error" class="dialog-info">
          <el-alert
            :title="nIntegranteDialog.form.errorTitle"
            type="error"
            @close="nIntegranteDialog.form.error = false"
          >
            {{ nIntegranteDialog.form.errorMsg }}
          </el-alert>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="">Cancelar</el-button>
          <el-button type="primary" @click="onClickSiguiente">Siguiente</el-button>
        </span>
      </div>

      <div v-if="nIntegranteDialog.step === 2">
        <div class="dialog-info">
          Verifica que los datos concuerden con los de la persona que deseas invitar.
        </div>
        <el-form :model="nIntegranteDialog.form.nIntegrante" label-width="80px" label-position="left">
          <el-form-item label="Nombre">
            <el-input v-model="nIntegranteDialog.form.nIntegrante.nombre" autocomplete="off"/>
          </el-form-item>
          <el-form-item label="Telefono">
            <el-input v-model="nIntegranteDialog.form.nIntegrante.telefono" autocomplete="off"/>
          </el-form-item>
          <el-form-item label="Correo">
            <el-input v-model="nIntegranteDialog.form.nIntegrante.correo" autocomplete="off"/>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="onClickAtras">Atras</el-button>
          <el-button type="primary" @click="onClickSiguiente">Siguiente</el-button>
        </span>
      </div>

      <div v-if="nIntegranteDialog.step === 3">
        <div class="dialog-info">
          ¿Que tipo de vinculo tiene {{ this.nIntegranteDialog.form.nIntegrante.nombre }} con el departamento {{
          this.departamento.piso + ' - ' + this.departamento.identificador }}?
        </div>
        <div>
          <div class="dialog-selections">
            <el-checkbox v-model="nIntegranteDialog.form.tipoVinculoUsuario.propietario">Propietario</el-checkbox>
          </div>
          <div class="dialog-selections">
            <el-checkbox v-model="nIntegranteDialog.form.tipoVinculoUsuario.residente">Residente</el-checkbox>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="onClickAtras">Atras</el-button>
          <el-button type="primary" @click="onClickSiguiente">Siguiente</el-button>
        </span>
      </div>

      <div v-if="nIntegranteDialog.step === 4">
        <div class="dialog-info">
          ¿Quieres que {{ this.nIntegranteDialog.form.nIntegrante.nombre }} pueda acceder a los datos actuales o quieres
          empezar un nuevo punto de historia?
        </div>
        <div class="dialog-selections">
          <el-radio v-model="nIntegranteDialog.form.vinculo.nuevo" label="1">Deseo iniciar un nuevo punto de historia
          </el-radio>
        </div>
        <div class="dialog-selections">
          <el-radio v-model="nIntegranteDialog.form.vinculo.existente" label="2">Prefiero agregarlo al grupo actual
          </el-radio>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="onClickAtras">Atras</el-button>
          <el-button type="primary" @click="onClickGuardar">Aceptar</el-button>
        </span>
      </div>

    </el-dialog>
  </div>
</template>

<script>
  import {} from '../../../api/usuarios'

  export default {
    props: {
      idDepartamento: Number,
      idConsorcio: Number
    },
    data() {
      return {
        integrantes: [
          {
            vinculo: 2,
            nombre: 'Gonzalo Fernandez Yaique',
            correo: 'fygonzalo@gmail.com',
            direccion: 'Calle 3131231231',
            telefono: '370468542'
          },
          {
            vinculo: 3,
            nombre: 'Griselda',
            correo: 'correo@gmail.com',
            direccion: 'Siempreviva',
            telefono: '321312'
          }],
        nIntegranteDialog: {
          visible: false,
          step: 1,
          form: {
            email: '',
            nIntegrante: {},
            tipoVinculoUsuario: {
              propietario: false,
              residente: false
            },
            vinculo: {
              nuevo: false,
              existente: false
            },
            error: false,
            errorTitle: '',
            errorMsg: ''
          }
        }
      }
    },
    computed: {
      departamento() {
        return this.$store.state.administrador.departamentos.find(d => d.idDepartamento === this.idDepartamento)
      },
      vinculosUsuarios() {
        const vinculo = this.$store.state.vinculo
        const usuarios = this.$store.state.administrador.usuarios
        const vinculos_usuarios = this.$store.state.administrador.vinculos_usuarios
        const listado = usuarios.map(usuario => {
          const vinculo_usuario = vinculos_usuarios.find(vinculo_usuario => vinculo_usuario.usuario === usuario.idUsuario)
          const el = { usuario: usuario, vinculo_usuario: vinculo_usuario }
          console.log(el)
          return el
        })
        console.log(listado)
        return listado
      }
    },
    created() {
      const pathParams = { idConsorcio: this.idConsorcio, idDepartamento: this.idDepartamento }
      this.$store.dispatch('administrador/getDepartamento', pathParams)
      this.$store.dispatch('administrador/getDepartamentoUltimoVinculo', pathParams).then((result) => {
        pathParams.idVinculo = this.$store.state.administrador.vinculo.idVinculo
        this.$store.dispatch('administrador/getUsuariosByVinculo', pathParams)
        this.$store.dispatch('administrador/getVinculosUsuariosByVinculo', pathParams)
      })
    },
    methods: {
      onClickAgregarIntegrante() {
        this.nIntegranteDialog.visible = true
      },
      onClickSiguiente() {
        switch (this.nIntegranteDialog.step) {
          case 1:
            this.$store.dispatch('administrador/getUsuarioByEmail',
              this.nIntegranteDialog.form.email).then((usuario) => {
              this.nIntegranteDialog.form.error = false
              this.nIntegranteDialog.form.nIntegrante = usuario
              this.nIntegranteDialog.step += 1
            }).catch(error => {
              this.nIntegranteDialog.form.errorMsg = 'Verifica que hayas ingresado el correo correctamente. El usuario debe estar registrado en la aplicación.'
              this.nIntegranteDialog.form.errorTitle = 'No se ha encontrado ningun usuario con el correo ingresado'
              this.nIntegranteDialog.form.error = true
            })
            break

          default:
            this.nIntegranteDialog.step += 1
        }
      },
      onClickAtras() {
        this.nIntegranteDialog.step -= 1
      },
      async onClickGuardar() {

        if (this.nIntegranteDialog.form.vinculo.nuevo) {
          await this.$store.dispatch('administrador/addVinculo', {
            idConsorcio: this.idConsorcio,
            idDepartamento: this.idDepartamento,
          })
        }
        const vinculoUsuario = {
          usuario: this.nIntegranteDialog.form.nIntegrante.idUsuario,
          vinculo: this.$store.state.administrador.vinculo.idVinculo,
          tipo: this.nIntegranteDialog.form.tipoVinculoUsuario.propietario + this.nIntegranteDialog.form.tipoVinculoUsuario.residente * 2
        }
        await this.$store.dispatch('administrador/addVinculoUsuario', {
          idConsorcio: this.idConsorcio,
          idDepartamento: this.idDepartamento,
          idVinculo: this.$store.state.administrador.vinculo.idVinculo,
          vinculoUsuario: vinculoUsuario
        })
        this.nIntegranteDialog.visible = false
        await new Promise(resolve => setTimeout(resolve, 500))
        this.nIntegranteDialog.step = 1
      }
    }
  }
</script>

<style lang="scss" scoped>
  .listado {
    padding-bottom: 40px;

    &:last-child {
      padding-bottom: 10px;
    }
  }

  .clearfix {
    font-size: 20px;
  }

  .subtitulo {
    font-size: 18px;
  }

  .tag-propietario {
    min-width: 90px;
  }

  .tag-residente {
    padding-left: 0px;
  }

  .menu-filter-container {
    padding: 0 0 20px 0;
  }

  .dialog-footer {
    display: flex;
    justify-content: end;
  }

  .dialog-info {
    font-size: 16px;
    padding-bottom: 15px;
  }

  .dialog-selections {
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 15px;
  }

</style>
