<template>
  <div class="app-container">
    <el-row class="row-bg">
      <el-card class="box-card">
        <el-row type="flex" class="row-bg" justify="space-between" align="middle">
          <div class="grid-content bg-purple">
            <div class="titulo-principal">{{ consorcio.nombreConsorcio }}</div>
          </div>
          <div class="grid-content bg-purple" style="align-items: right;">
            <el-button @click="$router.push('propiedades')" type="primary">Propiedades</el-button>
          </div>
        </el-row>
        <el-row>
          <div class="titulo-secundario">Direccion: {{ consorcio.direccion }}</div>
          <div class="titulo-secundario">Telefono: {{ consorcio.telefono }}</div>
        </el-row>
      </el-card>
    </el-row>
    <el-row class="row-bg">
      <el-col :span="24">
        <el-card>
          <div slot="header" class="clearfix">
            <span>Departamentos</span>
          </div>
          <el-row type="flex" class="row-bg menu-filter-container" justify="space-between">
            <el-col :span="10">
              <el-input>
                <el-button slot="append" type="primary" icon="el-icon-search" @click="search()" />
              </el-input>
            </el-col>
          </el-row>
          <el-table
            :data="departamentos"
            :default-sort="{prop:'idDepartamento', order:'ascending'}"
            border
            style="width: 100%"
          >
            <el-table-column prop="idDepartamento" label="ID" width="180" />
            <el-table-column prop="piso" label="Piso" width="180" />
            <el-table-column prop="identificador" width="180" label="Depto" />
            <el-table-column label="Propietarios" />
            <el-table-column label="Residentes" />
            <el-table-column align="center">
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  size="small"
                  @click="$router.push(`departamentos/${scope.row.idDepartamento}`)"
                >Detalles</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  props: {
    idConsorcio: Number
  },
  data() {
    return {

    };
  },
  computed: {
    departamentos() {
      return this.$store.state.administrador.departamentos;
    },
    consorcio() {
      return this.$store.state.administrador.consorcios.find(consorcio =>
      consorcio.idConsorcio === this.idConsorcio)
    }
  },
  created() {
    this.$store.dispatch("administrador/getConsorcio", this.idConsorcio)
    this.$store.dispatch("administrador/getDepartamentos", this.idConsorcio);
  },
  methods: {
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }

  .titulo-principal {
    font-size: 24pt;
  }
  .titulo-secundario {
    font-size: 16pt;
  }

  .row-bg {
    padding: 10px 0;
    &:first-child {
      padding-top: 0px;
    }
  }

  .menu-filter-container {
    padding: 0 0 20px 0;
  }

  .cabecera {
    display: flex;
    justify-content: space-between;

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input[type="button"] {
      display: block;
    }
  }
}
</style>
