<template>
  <div class="app-container">
    <el-button type="primary" @click="handleAddAdmin">Nueva Reserva</el-button>

    <div class="filter-container" style="width: 100%;margin-top:30px;">
      <el-input
        v-model="listQuery.nombre"
        placeholder="Nùmero Reserva"
        style="width: 200px;"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />

      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >Buscar</el-button>
    </div>
    
    <el-table :data="mensajeList" style="width: 100%;margin-top:50px;" border>
      <el-table-column align="center" label="Nùmero Reserva" width="150">
        <template slot-scope="scope">{{ scope.row.idreserva }}</template>
      </el-table-column>

      <el-table-column align="center" label="Consorcio" width="250">
        <template slot-scope="scope">{{ scope.row.consorcio.nombreConsorcio}}</template>
      </el-table-column>

      <el-table-column align="center" label="Reservado Por" width="200">
        <template slot-scope="scope">{{ scope.row.usuario.nombre }}</template>
      </el-table-column>

      <el-table-column align="center" label="Espacio Comùn">
        <template slot-scope="scope">{{ scope.row.departamento.identificador}}</template>
      </el-table-column>

      <el-table-column align="center" label="Desde">
        <template slot-scope="scope">{{ scope.row.fechaDesda}}</template>
      </el-table-column>

      <el-table-column align="center" label="Hasta">
        <template slot-scope="scope">{{ scope.row.fechaHasta}}</template>
      </el-table-column>

      

      <el-table-column align="center" label="Operación" width="240">
        <template slot-scope="scope">
          <router-link :to="'/reservas/detalles/'+scope.row.idmensaje">
            <el-button type="primary" size="small" icon="el-icon-edit">
              Detalle
            </el-button>
          </router-link>
          <el-button type="danger" size="small" @click="handleDisable(scope)">Eliminar</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import path from 'path'
import { deepClone } from '@/utils'
import {
  getReservas,
  getReservaById
} from '@/api/reservas'

import waves from '@/directive/waves'
import ElDragSelect from '@/components/DragSelect'
import Multiselect from 'vue-multiselect'
import { constants } from 'crypto'

const defaultUser = {
  idReserva: '',
  consorcio: '',
  usuario: '',
  elimina_sino: Boolean,
  fechaDesde: '',
  fechaHasta:''
}


export default {
  directives: { waves },
  components: { Multiselect },
  data() {
    return {
      total: 0,
      list: null,
      listLoading: true,
      reservas: Object.assign({}, defaultUser),
      mensajeList: [],
      dialogVisible: false,
      dialogType: 'new',
      checkStrictly: false,
      getCheckedKeys: false,
      defaultProps: {
        children: 'children',
        label: 'title'
      },
      listQuery: {
        page: 1,
        limit: 2,
        idReserva: undefined
      }
    }
  },
  created() {
    this.getReservas()
  },
  methods: {
    nameWithLang({ nombre }) {
      return `${nombre}`
    },

    getList() {
      this.listLoading = true

      if (
        this.listQuery.idMensaje === '' ||
        this.listQuery.idMensaje === ' ' ||
        this.listQuery.idMensaje ===  0 ||
        this.listQuery.idMensaje === undefined
      ) {
        getReservas().then(response => {
          this.mensajeList = response
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        })
      } else {
        getReservaById(this.listQuery.idReserva).then(response => {
          this.mensajeList = response
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        })
      }
      this.total = this.mensajeList.size
    },

    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },

    async getReservas() {
      const res = await getReservas()
      this.mensajeList = res
    },

    handleAddAdmin() {
      this.admin = Object.assign({}, defaultUser)
      this.empresa = []
      this.dialogType = 'new'
      this.dialogVisible = true
    },

    handleEdit(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.checkStrictly = true
      this.admin = deepClone(scope.row)
      this.$nextTick(() => {
        // set checked state of a node not affects its father and child nodes
        this.checkStrictly = false
      })
    },

    handleDisable({ $index, row }) {
      this.$confirm(''.concat('Estas seguro que quiere eliminar este mensaje del tablon?'), 'Aviso', {
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
        type: 'warning'
      })
        .then(async() => {
          await disableAdministradores(row.idadministrador)
          // this.adminList.splice($index, 1);
          row.activo = !row.activo
          const msg = ''.concat('Administrador ', row.activo ? 'desbloqueado' : 'bloqueado', ' correctamente')
          this.$message({
            type: 'success',
            message: msg
          })
        })
        .catch(err => {
          console.error(err)
        })
    },

    async confirmRole() {
      const isEdit = this.dialogType === 'edit'

      if (isEdit) {
        await addAdministrador(this.admin)
        for (let index = 0; index < this.adminList.length; index++) {
          if (this.adminList[index].idadministrador === this.admin.idadministrador) {
            this.adminList.splice(index, 1, Object.assign({}, this.admin))
            break
          }
        }
      } else {
        this.admin.password = this.admin.dni
        const res = await addAdministrador(this.admin)
        this.admin.idadministrador = res.idadministrador
        this.adminList.push(this.admin)
      }

      const {
        login,
        password,
        nombre,
        telefono,
        direccion,
        email,
        consorcios,
        activo
      } = this.admin
      this.dialogVisible = false
      this.$notify({
        title: 'Operación Exitosa',
        dangerouslyUseHTMLString: true,
        message: `
            <div>Adminsitrador Modificado: ${nombre}</div>
          `,
        type: 'success'
      })
    },
    // reference: src/view/layout/components/Sidebar/SidebarItem.vue
    onlyOneShowingChild(children = [], parent) {
      let onlyOneChild = null
      const showingChildren = children.filter(item => !item.hidden)

      // When there is only one child route, the child route is displayed by default
      if (showingChildren.length === 1) {
        onlyOneChild = showingChildren[0]
        onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path)
        return onlyOneChild
      }

      // Show parent if there are no child route to display
      if (showingChildren.length === 0) {
        onlyOneChild = { ...parent, path: '', noShowingChildren: true }
        return onlyOneChild
      }

      return false
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
