<template>
  <div v-if="!item.hidden" class="menu-wrapper">
    <template
      v-if="hasOneShowingChild(item.children,item) && (!onlyOneChild.children||onlyOneChild.noShowingChildren)&&!item.alwaysShow"
    >
      <app-link
        v-if="onlyOneChild.meta&&!onlyOneChild.meta.eval"
        :to="resolvePath(onlyOneChild.path)"
      >
        <el-menu-item
          :index="resolvePath(onlyOneChild.path)"
          :class="{'submenu-title-noDropdown':!isNest}"
        >
          <item
            :icon="onlyOneChild.meta.icon||(onlyOneChild.meta&&onlyOneChild.meta.icon)"
            :title="onlyOneChild.meta.title"
          />
        </el-menu-item>
      </app-link>
      <div
        v-else-if="onlyOneChild.meta&&onlyOneChild.meta.eval"
        v-for="consorcio in handleSpecialTitle(onlyOneChild)"
        :key="consorcio.idConsorcio"
      >
        <app-link
          :to="`/consorcios/${consorcio.idConsorcio}`"
        >
          <el-menu-item
            :index="resolvePath(`/consorcios/${consorcio.idConsorcio}`)"
            :class="{'submenu-title-noDropdown':!isNest}"
          >
            <item :title="consorcio.nombreConsorcio" />
          </el-menu-item>
        </app-link>
      </div>
    </template>

    <el-submenu v-else ref="subMenu" :index="resolvePath(onlyOneChild.path)" popper-append-to-body>
      <template slot="title">
        <item
          v-if="onlyOneChild.meta&&!onlyOneChild.meta.eval"
          :icon="onlyOneChild.meta && onlyOneChild.meta.icon"
          :title="onlyOneChild.meta.title"
        />
      </template>
      <sidebar-item
        v-for="child in item.children"
        :key="child.path"
        :is-nest="true"
        :item="child"
        :base-path="resolvePath(child.path)"
        class="nest-menu"
      />
    </el-submenu>
  </div>
</template>


<script>
import path from "path";
import { isExternal } from "@/utils/validate";
import Item from "./Item";
import AppLink from "./Link";
import FixiOSBug from "./FixiOSBug";

export default {
  name: "SidebarItem",
  components: { Item, AppLink },
  mixins: [FixiOSBug],
  props: {
    // route object
    item: {
      type: Object,
      required: true
    },
    isNest: {
      type: Boolean,
      default: false
    },
    basePath: {
      type: String,
      default: ""
    }
  },
  data() {
    // To fix https://github.com/PanJiaChen/vue-admin-template/issues/237
    // TODO: refactor with render function
    this.onlyOneChild = null;
    return {};
  },
  methods: {
    hasOneShowingChild(children = [], parent) {
      const showingChildren = children.filter(item => {
        if (item.hidden) {
          return false;
        } else {
          // Temp set(will be used if only has one showing child)
          this.onlyOneChild = item;
          return true;
        }
      });

      // When there is only one child router, the child router is displayed by default
      if (showingChildren.length === 1) {
        return true;
      }

      // Show parent if there are no child router to display
      if (showingChildren.length === 0) {
        this.onlyOneChild = { ...parent, path: "", noShowingChildren: true };
        return true;
      }

      return false;
    },
    pathCompile(path) {
      // To solve this problem https://github.com/PanJiaChen/vue-element-admin/issues/561
      const { params } = this.$route;
      var toPath = pathToRegexp.compile(path);
      return toPath(params);
    },
    resolvePath(routePath) {
      if (isExternal(routePath)) {
        return routePath;
      }
      if (isExternal(this.basePath)) {
        return this.basePath;
      }
      return path.resolve(this.basePath, routePath);
    },
    handleSpecialTitle(onlyOneChild) {
      return eval(onlyOneChild.meta.sidebarList);
    }
  }
};
</script>
