<template>
  <el-breadcrumb class="app-breadcrumb" separator="/">
    <transition-group name="breadcrumb">
      <el-breadcrumb-item v-for="(item,index) in levelList" :key="item.path">
        <span
          v-if="item.redirect==='noRedirect'||index==levelList.length-1"
          class="no-redirect"
        >{{ item.meta.eval ? handleSpecialTitle(item) : item.meta.title }}</span>

        <a
          v-else
          @click.prevent="handleLink(item)"
        >{{ item.meta.eval ? handleSpecialTitle(item) : item.meta.title }}</a>
      </el-breadcrumb-item>
    </transition-group>
  </el-breadcrumb>
</template>

<script>
import pathToRegexp from "path-to-regexp";
import { mapGetters } from "vuex";
import { get_title, getNestedValue } from "@/router/utils";
import Vue from "vue";

export default {
  data() {
    return {
      levelList: null
    };
  },
  computed: {
    permission_routes() {
      return this.$store.state.permission.routes;
    }
  },
  watch: {
    $route(route) {
      // if you go to the redirect page, do not update the breadcrumbs
      console.log("route changed");
      if (route.path.startsWith("/redirect/")) {
        return;
      }
      this.getBreadcrumb();
    },
    permission_routes(_) {
      vm.$router.go(this.$router.currentRoute);
    }
  },
  created() {
    this.getBreadcrumb();
  },
  methods: {
    wos(t) {
      return eval(t);
    },
    getBreadcrumb() {
      // only show routes with meta.title

      //get_title('administrador.consorcios', 'idConsorcio', 1)

      let matched = this.$route.matched.filter(
        item => item.meta && item.meta.title
      );
      const first = matched[0];

      if (!this.isDashboard(first)) {
        matched = [
          { path: "/dashboard", meta: { title: "Panel de control" } }
        ].concat(matched);
      }
      this.levelList = matched.filter(
        item => item.meta && item.meta.title && item.meta.breadcrumb !== false
      );
    },
    isDashboard(route) {
      const name = route && route.name;
      if (!name) {
        return false;
      }
      return (
        name.trim().toLocaleLowerCase() ===
        "Panel de control".toLocaleLowerCase()
      );
    },
    pathCompile(path) {
      // To solve this problem https://github.com/PanJiaChen/vue-element-admin/issues/561
      const { params } = this.$route;
      var toPath = pathToRegexp.compile(path);
      return toPath(params);
    },
    handleLink(item) {
      const { redirect, path } = item;
      if (redirect) {
        this.$router.push(this.pathCompile(redirect));
        return;
      }
      this.$router.push(this.pathCompile(path));
    },
    handleSpecialTitle(item) {
      return eval(item.meta.title);
    }
  }
};
</script>

<style lang="scss" scoped>
.app-breadcrumb.el-breadcrumb {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin-left: 8px;

  .no-redirect {
    color: #97a8be;
    cursor: text;
  }
}
</style>
