<template>
  <div class="app-container">
    <el-button type="primary" @click="handleAddAdmin">Nuevo Administrador</el-button>

    <div class="filter-container" style="width: 100%;margin-top:30px;">
      <el-input
        v-model="listQuery.nombre"
        placeholder="Nombre Administrador"
        style="width: 200px;"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />

      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >Buscar</el-button>
    </div>

    <el-table :data="adminList" style="width: 100%;margin-top:50px;" border>
      <el-table-column align="center" label="ID" width="50">
        <template slot-scope="scope">{{ scope.row.idadministrador }}</template>
      </el-table-column>

      <el-table-column align="center" label="Nombre">
        <template slot-scope="scope">{{ scope.row.nombre }}</template>
      </el-table-column>

      <el-table-column align="center" label="Telefono" width="140">
        <template slot-scope="scope">{{ scope.row.telefono }}</template>
      </el-table-column>

      <el-table-column align="center" label="Direccion">
        <template slot-scope="scope">{{ scope.row.direccion }}</template>
      </el-table-column>

      <el-table-column align="center" label="Email">
        <template slot-scope="scope">{{ scope.row.correo }}</template>
      </el-table-column>

      <el-table-column align="center" label="Operación" width="240">
        <template slot-scope="scope">
          <el-button type="primary" size="small" @click="handleEdit(scope)">Editar</el-button>
          <el-button type="danger" size="small" @click="handleDisable(scope)">{{ scope.row.activo ? "Bloquear" : "Desbloquear" }}</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog
      :visible.sync="dialogVisible"
      :title="dialogType==='edit'?'Editando Administrador':'Nuevo Administrador'"
    >
      <el-form :model="admin" label-width="80px" label-position="left">

        <el-form-item label="Nombre">
          <el-input v-model="admin.nombre" placeholder="Nombre" />
        </el-form-item>

        <el-form-item label="D.N.I">
          <el-input v-model="admin.dni" placeholder="dni" />
        </el-form-item>

        <el-form-item label="Telefono">
          <el-input v-model="admin.telefono" placeholder="Telefono" />
        </el-form-item>

        <el-form-item label="Direccion">
          <el-input v-model="admin.direccion" placeholder="Direccion" />
        </el-form-item>

        <el-form-item label="Email">
          <el-input v-model="admin.correo" placeholder="Email" />
        </el-form-item>

        <el-form-item label="Consorcios">
          <multiselect
            v-model="admin.consorcios"
            :options="listadoConsorcios"
            :multiple="true"
            :close-on-select="false"
            :clear-on-select="false"
            :preserve-search="true"
            placeholder="Elegir Empresa"
            label="nombreConsorcio"
            track-by="nombreEmpresa"
            :preselect-first="true"
          />
        </el-form-item>
      </el-form>

      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancelar</el-button>
        <el-button type="primary" @click="confirmRole">Confirmar</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import path from 'path'
import { deepClone } from '@/utils'
import {
  getAdministradores,
  addAdministrador,
  disableAdministradores,
  getAdministradorByNombre,
  getAdministradoresByEmail,
  getAdministradoresByTelefono
} from '@/api/administradores'
import {
  getEmpresas,
  getEmpresasByNombre,
  getEmpresasByTelefono
} from '@/api/consorcios'
import waves from '@/directive/waves'
import ElDragSelect from '@/components/DragSelect'
import Multiselect from 'vue-multiselect'
import { constants } from 'crypto'

const defaultUser = {
  idadministrador: '',
  login: '',
  password: '',
  dni:'',
  nombre: '',
  telefono: '',
  direccion: '',
  email: '',
  activo: true,
  consorcios: []
}

const defaultConsorsio = {
  idempresa: '',
  nombre: '',
  telefono: ''
}
export default {
  directives: { waves },
  components: { Multiselect },
  data() {
    return {
      total: 0,
      list: null,
      listLoading: true,
      admin: Object.assign({}, defaultUser),
      adminList: [],
      consorcios: [],
      dialogVisible: false,
      dialogType: 'new',
      checkStrictly: false,
      getCheckedKeys: false,
      defaultProps: {
        children: 'children',
        label: 'title'
      },
      listQuery: {
        page: 1,
        limit: 2,
        nombre: undefined,
        dni: undefined,
        estado: undefined
      }
    }
  },
  computed: {
    listadoConsorcios() {
      return this.$store.state.superusuario.consorcios
    }
  },

  created() {
    this.getAdministrador()
    this.getEmpresas()
  },
  methods: {
    nameWithLang({ nombre }) {
      return `${nombre}`
    },

    getList() {
      this.listLoading = true

      if (
        this.listQuery.nombre === '' ||
        this.listQuery.nombre === ' ' ||
        this.listQuery.nombre === undefined
      ) {
        getAdministradores().then(response => {
          this.adminList = response
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        })
      } else {
        getAdministradorByNombre(this.listQuery.nombre).then(response => {
          this.adminList = response
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        })
      }
      this.total = this.adminList.size
    },

    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },

    async getRoles() {
      const res = await getRoles()
      this.roles = res
    },

    async getEmpresas() {
      const res = await getEmpresas()
      this.consorcios = res
    },

    async getAdministrador() {
      const res = await getAdministradores()
      this.adminList = res
    },

    handleAddAdmin() {
      this.admin = Object.assign({}, defaultUser)
      this.empresa = []
      this.dialogType = 'new'
      this.dialogVisible = true
    },

    handleEdit(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.checkStrictly = true
      this.admin = deepClone(scope.row)
      this.$nextTick(() => {
        // set checked state of a node not affects its father and child nodes
        this.checkStrictly = false
      })
    },

    handleDisable({ $index, row }) {
      this.$confirm(''.concat('Estas seguro que quiere ', row.activo ? 'bloquear' : 'desbloquear', ' este usuario?'), 'Aviso', {
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
        type: 'warning'
      })
        .then(async() => {
          await disableAdministradores(row.idadministrador)
          // this.adminList.splice($index, 1);
          row.activo = !row.activo
          const msg = ''.concat('Administrador ', row.activo ? 'desbloqueado' : 'bloqueado', ' correctamente')
          this.$message({
            type: 'success',
            message: msg
          })
        })
        .catch(err => {
          console.error(err)
        })
    },

    async confirmRole() {
      const isEdit = this.dialogType === 'edit'

      if (isEdit) {
        await addAdministrador(this.admin)
        for (let index = 0; index < this.adminList.length; index++) {
          if (this.adminList[index].idadministrador === this.admin.idadministrador) {
            this.adminList.splice(index, 1, Object.assign({}, this.admin))
            break
          }
        }
      } else {
        this.admin.password = this.admin.dni
        const res = await addAdministrador(this.admin)
        this.admin.idadministrador = res.idadministrador
        this.adminList.push(this.admin)
      }

      const {
        login,
        password,
        nombre,
        telefono,
        direccion,
        email,
        consorcios,
        activo
      } = this.admin
      this.dialogVisible = false
      this.$notify({
        title: 'Operación Exitosa',
        dangerouslyUseHTMLString: true,
        message: `
            <div>Adminsitrador Modificado: ${nombre}</div>
          `,
        type: 'success'
      })
    },
    // reference: src/view/layout/components/Sidebar/SidebarItem.vue
    onlyOneShowingChild(children = [], parent) {
      let onlyOneChild = null
      const showingChildren = children.filter(item => !item.hidden)

      // When there is only one child route, the child route is displayed by default
      if (showingChildren.length === 1) {
        onlyOneChild = showingChildren[0]
        onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path)
        return onlyOneChild
      }

      // Show parent if there are no child route to display
      if (showingChildren.length === 0) {
        onlyOneChild = { ...parent, path: '', noShowingChildren: true }
        return onlyOneChild
      }

      return false
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
