<template>
  <div class="app-container">
    <el-button type="primary" @click="handleAddConsorcio">Nuevo Consorcio</el-button>

    <el-table :data="listadoConsorcios" style="width: 100%;margin-top:30px;" border>
      <el-table-column align="center" label="Clave Consorcio" width="220">
        <template slot-scope="scope">{{ scope.row.idConsorcio }}</template>
      </el-table-column>

      <el-table-column align="center" label="Nombre">
        <template slot-scope="scope">{{ scope.row.nombreConsorcio }}</template>
      </el-table-column>

      <el-table-column align="center" label="Teléfono" width="220">
        <template slot-scope="scope">{{ scope.row.telefono }}</template>
      </el-table-column>

      <el-table-column align="center" label="Dirección" width="220">
        <template slot-scope="scope">{{ scope.row.direccion }}</template>
      </el-table-column>

      <el-table-column align="center" label="Operación">
        <template slot-scope="scope">
          <el-button type="primary" size="small" @click="handleEdit(scope)">Editar</el-button>
          <el-button type="danger" size="small" @click="handleBloqueo(scope)">{{ scope.row.activo ? "Bloquear" : "Desbloquear" }} </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog
      :visible.sync="dialogVisible"
      :title="dialogType==='edit'?'Editando Consorcio':'Nuevo Consorcio'"
    >
      <el-form :model="consorcio" label-width="80px" label-position="left">
        <el-form-item label="Nombre">
          <el-input v-model="consorcio.nombreConsorcio" placeholder="Nombre Consorcio" />
        </el-form-item>

        <el-form-item label="Teléfono">
          <el-input v-model="consorcio.telefono" placeholder="Teléfono" />
        </el-form-item>

        <el-form-item label="Dirección">
          <el-input v-model="consorcio.direccion" placeholder="Dirección" />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancelar</el-button>
        <el-button type="primary" @click="confirmRole">Confirmar</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import path from 'path'
import { deepClone } from '@/utils'

const defaultConsorcio = {
  nombreConsorcio: '',
  direccion: '',
  telefono: ''
}

export default {
  data() {
    return {
      consorcio: Object.assign({}, defaultConsorcio),
      dialogVisible: false,
      dialogType: 'new',
      checkStrictly: false,
      getCheckedKeys: false,
      defaultProps: {
        children: 'children',
        label: 'title'
      }
    }
  },
  computed: {
    listadoConsorcios() {
      // Recupera el listado desde el store
      return this.$store.state.superusuario.consorcios
    }
  },
  created() {
    // Carga todos los consorcios al inicializar la pagina
    this.$store.dispatch('superusuario/getConsorcios')
  },
  methods: {
    handleAddConsorcio() {
      this.consorcio = Object.assign({}, defaultConsorcio)
      if (this.$refs.tree) {
        this.$refs.tree.setCheckedNodes([])
      }
      this.dialogType = 'new'
      this.dialogVisible = true
    },

    handleEdit(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.checkStrictly = true
      this.consorcio = deepClone(scope.row)
      this.$nextTick(() => {
        // set checked state of a node not affects its father and child nodes
        this.checkStrictly = false
      })
    },

    handleBloqueo({ $index, row }) {
      this.$confirm('Estas seguro que quieres bloquear este consorcio', 'Aviso', {
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
        type: 'warning'
      })
        .then(async() => {
          const consorcio = row
          consorcio.activo = !consorcio.activo
          this.$store.dispatch('superusuario/editConsorcio', consorcio)
        })
        .catch(err => {
          console.error(err)
        })
    },

    async confirmRole() {
      const isEdit = this.dialogType === 'edit'

      if (isEdit) {
        this.$store.dispatch('superusuario/editConsorcio', this.consorcio)
      } else {
        this.$store.dispatch('superusuario/addConsorcio', this.consorcio)
      }

      const { idConsorcio, nombreConsorcio, telefono, direccion } = this.consorcio
      this.dialogVisible = false
      this.$notify({
        title: 'Operación Exitosa',
        dangerouslyUseHTMLString: true,
        message: `
            <div>Clave Consorcio: ${idConsorcio}</div>
            <div>Nombre Consorcio: ${nombreConsorcio}</div>
          `,
        type: 'success'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
