<template>
  <div class="app-container">
    <el-button type="primary" @click="handleAddRole">Nuevo Rol</el-button>

    <el-table :data="rolesList" style="width: 100%;margin-top:30px;" border>

      <el-table-column align="center" label="Clave Rol" width="220">
        <template slot-scope="scope">
          {{ scope.row.idroles}}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Descripción">
        <template slot-scope="scope">
          {{ scope.row.descripcionRol }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Activo" width="220" >
        <template slot-scope="scope">
          {{ scope.row.activo }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Operación">
        <template slot-scope="scope">
          <el-button type="primary" size="small" @click="handleEdit(scope)">Editar</el-button>
          <el-button type="danger" size="small" @click="handleDelete(scope)">Borrar</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Editando Rol':'Nuevo Rol'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Nombre">
          <el-input v-model="role.descripcionRol" placeholder="Descripcion Rol" />
        </el-form-item>
        <el-form-item>
          <input type="checkbox" id="checkbox" v-model="role.activo">
          <label for="role.activo">Activo</label>
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancelar</el-button>
        <el-button type="primary" @click="confirmRole">Confirmar</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import path from 'path'
import { deepClone } from '@/utils'
import { getRoles, addRole, deleteRole } from '@/api/role'

const defaultRole = {
  idroles: 0,
  descripcionRol: '',
  activo: false,
 }

export default {
  data() {
    return {
      role: Object.assign({}, defaultRole),
      rolesList: [],
      dialogVisible: false,
      dialogType: 'new',
      checkStrictly: false,
      getCheckedKeys:false,
      defaultProps: {
        children: 'children',
        label: 'title'
      }
    }
  },
  created() {
    // Mock: get all routes and roles list from server
    this.getRoles()
  },
  methods: {
    async getRoles() {
      const res = await getRoles()
      this.rolesList = res
    },

    
    handleAddRole() {
      this.role = Object.assign({}, defaultRole)
      if (this.$refs.tree) {
        this.$refs.tree.setCheckedNodes([])
      }
      this.dialogType = 'new'
      this.dialogVisible = true
    },

    handleEdit(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.checkStrictly = true
      this.role = deepClone(scope.row)
      this.$nextTick(() => {
      // set checked state of a node not affects its father and child nodes
      this.checkStrictly = false
      })
    },
  
    handleDelete({ $index, row }) {
      this.$confirm('Estas seguro que quiere eliminar este rol?', 'Aviso', {
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
        type: 'warning'
      })
        .then(async() => {
          await deleteRole(row.idroles)
          this.rolesList.splice($index, 1)
          this.$message({
            type: 'success',
            message: 'Rol borrado correctamente'
          })
        })
        .catch(err => { console.error(err) })
    },
    
      async confirmRole() {
      const isEdit = this.dialogType === 'edit'

      
      
      if (isEdit) {
        await addRole( this.role)
        for (let index = 0; index < this.rolesList.length; index++) {
          if (this.rolesList[index].idroles === this.role.idroles) {
            this.rolesList.splice(index, 1, Object.assign({}, this.role))
            break
          }
        }
      } else {
        const res = await addRole(this.role)
        this.role.idroles = res.idroles
        this.rolesList.push(this.role)
      }

      const { idroles, descripcionRol, activo } = this.role
      this.dialogVisible = false
      this.$notify({
        title: 'Operación Exitosa',
        dangerouslyUseHTMLString: true,
        message: `
            <div>Clave Rol: ${idroles}</div>
            <div>Nombre Rol: ${descripcionRol}</div>
            <div>Activo: ${activo}</div>
          `,
        type: 'success'
      })
    },
    // reference: src/view/layout/components/Sidebar/SidebarItem.vue
    onlyOneShowingChild(children = [], parent) {
      let onlyOneChild = null
      const showingChildren = children.filter(item => !item.hidden)

      // When there is only one child route, the child route is displayed by default
      if (showingChildren.length === 1) {
        onlyOneChild = showingChildren[0]
        onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path)
        return onlyOneChild
      }

      // Show parent if there are no child route to display
      if (showingChildren.length === 0) {
        onlyOneChild = { ... parent, path: '', noShowingChildren: true }
        return onlyOneChild
      }

      return false
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
