<template>
  <div class="app-container">
    <el-button type="primary" @click="handleAddUsuario">Nuevo Usuario</el-button>

    <div class="filter-container" style="width: 100%;margin-top:30px;">
      <el-input v-model="listQuery.nombre" placeholder="Nombre Usuario" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />

      <el-input v-model="listQuery.dni" placeholder="Documento" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />

      <el-input v-model="listQuery.estado" placeholder="Estado" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />

      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Buscar
      </el-button>

    </div>

    <el-table :data="userList" style="width: 100%;margin-top:50px;" border>

      <el-table-column align="center" label="Nombre" width="220">
        <template slot-scope="scope">
          <el-col :span="100" class="text-center">
            <router-link to="/permission/role" align="center">
              {{ scope.row.nombre }}
            </router-link>
          </el-col>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Documento" width="220">
        <template slot-scope="scope">
          {{ scope.row.dni }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Telefono">
        <template slot-scope="scope">
          {{ scope.row.telefono }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Email" width="220">
        <template slot-scope="scope">
          {{ scope.row.email }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Estado" width="220">
        <template slot-scope="scope">
          {{ scope.row.estado }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Operación">
        <template slot-scope="scope">
          <el-button type="danger" size="small" @click="handleDelete(scope)">Borrar</el-button>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Editando Usuario':'Nuevo Usuario'">
      <el-form :model="user" label-width="80px" label-position="left">
        <el-form-item label="Login">
          <el-input v-model="user.login" placeholder="Login" :disabled="dialogType==='edit'? true:false" />
        </el-form-item>

        <el-form-item label="Nombre">
          <el-input v-model="user.nombre" placeholder="Nombre Usuario" />
        </el-form-item>

        <el-form-item label="Documento">
          <el-input v-model="user.dni" placeholder="Documento" />
        </el-form-item>

        <el-form-item label="Telefono">
          <el-input v-model="user.telefono" placeholder="Telefono" />
        </el-form-item>

        <el-form-item label="Email">
          <el-input v-model="user.email" placeholder="Email" />
        </el-form-item>

      </el-form>

      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancelar</el-button>
        <el-button type="primary" @click="confirmRole">Confirmar</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import path from 'path'
import { deepClone } from '@/utils'
import { getUsuarios, addUsuario, deleteUsuario, getUsuariosByNombre, getUsuariosByEmail, getUsuariosByTelefono } from '@/api/usuarios'
import { getEmpresas, getEmpresasByNombre, getEmpresasByTelefono } from '@/api/consorcio'
import { getRoles, getRolesById } from '@/api/role'
import waves from '@/directive/waves'
import ElDragSelect from '@/components/DragSelect'

const defaultUser = {
  login: '',
  password: '',
  nombre: '',
  telefono: '',
  email: '',
  roles: [],
  empresas: []
}

export default {

  directives: { waves },
  components: { ElDragSelect },
  data() {
    return {
      total: 0,
      list: null,
      listLoading: true,
      user: Object.assign({}, defaultUser),
      userList: [],
      roles: [],
      empresas: [],
      dialogVisible: false,
      dialogType: 'new',
      checkStrictly: false,
      getCheckedKeys: false,
      defaultProps: {
        children: 'children',
        label: 'title'
      },
      listQuery: {
        page: 1,
        limit: 2,
        nombre: undefined,
        dni: undefined,
        estado: undefined
      }
    }
  },

  created() {
    this.getRoles()
    this.getUsuarios()
    this.getEmpresas()
  },
  methods: {

    getList() {
      this.listLoading = true

      if (this.listQuery.nombre === '' || this.listQuery.nombre === ' ' || this.listQuery.nombre === undefined) {
        getUsuarios().then(response => {
          this.userList = response
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        })
      } else {
        getUsuariosByNombre(this.listQuery.nombre).then(response => {
          this.userList = response
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        })
      }
      this.total = this.userList.size
    },

    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },

    async getRoles() {
      const res = await getRoles()
      this.roles = res
    },

    async getEmpresas() {
      const res = await getEmpresas()
      this.empresas = res
    },

    async getUsuarios() {
      const res = await getUsuarios()
      this.userList = res
    },

    handleAddUsuario() {
      this.user = Object.assign({}, defaultUser)
      this.empresa = []
      this.dialogType = 'new'
      this.dialogVisible = true
    },

    handleEdit(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.checkStrictly = true
      this.user = deepClone(scope.row)
      this.$nextTick(() => {
      // set checked state of a node not affects its father and child nodes
        this.checkStrictly = false
      })
    },

    handleDelete({ $index, row }) {
      this.$confirm('Estas seguro que quiere eliminar este usuario?', 'Aviso', {
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
        type: 'warning'
      })
        .then(async() => {
          await deleteUsuario(row.login)
          this.userList.splice($index, 1)
          this.$message({
            type: 'success',
            message: 'Usuario borrado correctamente'
          })
        })
        .catch(err => { console.error(err) })
    },

    async confirmRole() {
      const isEdit = this.dialogType === 'edit'

      if (isEdit) {
        await addUsuario(this.user)
        for (let index = 0; index < this.userList.length; index++) {
          if (this.userList[index].login === this.user.login) {
            this.userList.splice(index, 1, Object.assign({}, this.user))
            break
          }
        }
      } else {
        this.user.password = this.user.dni
        const res = await addUsuario(this.user)
        this.user.login = res.login
        this.userList.push(this.user)
      }

      const { login, password, nombre, telefono, email, emrpesa } = this.user
      this.dialogVisible = false
      this.$notify({
        title: 'Operación Exitosa',
        dangerouslyUseHTMLString: true,
        message: `
            <div>Usuario Modificado: ${nombre}</div>
          `,
        type: 'success'
      })
    },
    // reference: src/view/layout/components/Sidebar/SidebarItem.vue
    onlyOneShowingChild(children = [], parent) {
      let onlyOneChild = null
      const showingChildren = children.filter(item => !item.hidden)

      // When there is only one child route, the child route is displayed by default
      if (showingChildren.length === 1) {
        onlyOneChild = showingChildren[0]
        onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path)
        return onlyOneChild
      }

      // Show parent if there are no child route to display
      if (showingChildren.length === 0) {
        onlyOneChild = { ... parent, path: '', noShowingChildren: true }
        return onlyOneChild
      }

      return false
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
