<template>
  <div class="app-container" />
</template>

<script>
export default {
  name: 'ConfiguracionTiposDepartamento',
  data() {
    return {

    }
  }
}
</script>

<style lang="scss">

</style>
