<template>
  <div class="app-container">
    <el-row type="flex" class="row-bg">
      <el-col :span="12">
        <el-card>
          <div slot="header" class="clearfix">
            <div class style="display: flex; justify-content: space-between;align-items: center;">
              <span>Detalles generales</span>
              <el-button type="success" @click="guardarDetallesConsorcio">Guardar</el-button>
            </div>
          </div>
          <el-form :model="this.detallesConsorcio" label-position="left" label-width="90px">
            <el-form-item label="Nombre:">
              <el-input v-model="detallesConsorcio.nombreConsorcio" />
            </el-form-item>
            <el-form-item label="Direccion:">
              <el-input v-model="detallesConsorcio.direccion" disabled />
            </el-form-item>
            <el-form-item label="Telefono:">
              <el-input v-model="detallesConsorcio.telefono" />
            </el-form-item>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
    <el-row type="flex" class="row-bg">
      <el-col :span="24">
        <el-card>
          <div slot="header" class="clearfix">
            <span>Departamentos</span>
          </div>
          <div
            class="row-bg menu-filter-container"
            style="display: flex; justify-content: space-between"
          >
            <el-input v-model="input2" style="width: 300px;">
              <el-button slot="append" type="primary" icon="el-icon-search" @click="search()" />
            </el-input>
            <el-button type="primary" @click="ndepartamentoDialog.visible = true">Nuevo departamento</el-button>
          </div>
          <el-table
            :data="departamentos"
            :default-sort="{prop:'idDepartamento', order:'ascending'}"
            border
            style="width: 100%"
          >
            <el-table-column prop="idDepartamento" label="ID" width="180" />
            <el-table-column prop="piso" label="Piso" width="180" />
            <el-table-column prop="identificador" width="180" label="Depto" />
            <el-table-column />
          </el-table>
        </el-card>
      </el-col>
    </el-row>

    <el-dialog :visible.sync="ndepartamentoDialog.visible" title="Nuevo departamento">
      <el-form :model="ndepartamentoForm" label-width="100px" label-position="left">
        <el-form-item label="Piso">
          <el-input v-model="ndepartamentoForm.piso" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Identificador">
          <el-input v-model="ndepartamentoForm.identificador" autocomplete="off" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="ndepartamentoDialog.visible = false">Cancelar</el-button>
        <el-button type="primary" @click="guardarNuevoDepartamento">Aceptar</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { deepClone } from "@/utils";

export default {
  props: {
    idConsorcio: Number
  },
  data() {
    return {
      detallesConsorcio: {
        nombreConsorcio: "",
        direccion: "",
        telefono: ""
      },
      ndepartamentoDialog: {
        visible: false,
        type: "edit"
      },
      ndepartamentoForm: {
        piso: "",
        identificador: "",
        tipoDepartamento: null
      },
      input2: ""
    };
  },
  computed: {
    consorcio() {
      let consorcio = this.$store.state.administrador.consorcios.find(
        consorcio => consorcio.idConsorcio === this.idConsorcio
      );

      return consorcio;
    },
    departamentos() {
      return this.$store.state.administrador.departamentos;
    }
  },
  created() {
    this.$store
      .dispatch("administrador/getConsorcio", this.idConsorcio)
      .then(res => {
        this.detallesConsorcio = deepClone(res);
      });
    this.$store.dispatch(
      "administrador/getDepartamentos",
      this.consorcio.idConsorcio
    );
  },
  methods: {
    guardarDetallesConsorcio() {
      this.$store.dispatch(
        "administrador/editConsorcio",
        this.detallesConsorcio
      );
    },
    guardarNuevoDepartamento() {
      this.$store
        .dispatch("administrador/addDepartamento", {
          consorcio: this.consorcio,
          departamento: this.ndepartamentoForm
        })
        .then(
          response => {
            this.ndepartamentoDialog.visible = false;
          },
          error => {}
        );
    },
    search() {
      console.log("Searching...");
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
  .titulo-principal {
    font-size: 24pt;
  }
  .titulo-secundario {
    font-size: 16pt;
  }
  .row-bg {
    padding: 10px 0;
    &:first-child {
      padding-top: 0px;
    }
  }

  .menu-filter-container {
    padding: 0 0 20px 0;
  }

  .clearfix {
    font-size: 20px;
  }
}
</style>
